.hidden {
    display: none;
}
.correct {
    color: green;
    font-weight: bold;
}
.incorrect {
    color: red;
    font-weight: bold;
}.container-petunjuk{
    background: rgba(255, 255, 255, 0.2);
    padding-right: 200px;
    padding-bottom: 20px;
    /* font-size: 15px; */
}.soal_tabel{
    display: none;
}.identifikasi{
    text-align: left;
  }.table .chekbox, .table th {
    vertical-align: middle;
    text-align: center;
  }
  .identifikasi {
    text-align: left;
  }
  .benar {
    color: green;
    font-weight: bold;
  }
  .salah {
    color: red;
    font-weight: bold;
  }