table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #2a5db0;
    color: white;
}
.correct {
    color: green;
    font-weight: bold;
}
.incorrect {
    color: red;
    font-weight: bold;
}.container-petunjuk{
    /* margin-top: 20px; */
    /* margin-left: 10px; */
    /* background-color: #727D73; */
    background: rgba(255, 255, 255, 0.2);
    /* padding: 50px; */
    padding-right: 200px;
    /* padding-left: 20px; */
    /* padding-top: 20px; */
    padding-bottom: 20px;
    font-size: 15px;
}
.drop-zone {
  min-height: 50px;
  padding: 10px;
  border: 2px dashed #ccc;
  vertical-align: middle;
}
.draggable-item {
  padding: 6px 10px;
  background-color: #e3f2fd;
  border: 1px solid #90caf9;
  border-radius: 4px;
  margin: 4px;
  cursor: move;
  display: inline-block;
}