.container-pds {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 50px;
    background: #F6F0F0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}.container-petunjuk{
    margin-top: 20px;
    margin-left: 10px;
    /* background-color: #727D73; */
    background: rgba(255, 255, 255, 0.2);
    /* padding: 50px; */
    padding-right: 200px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}.btn-cekJawaban{
    text-align: center;
}
table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #2b5db3;
    color: white;
}
input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
.correct {
    background-color: lightgreen;
}
.incorrect {
    background-color: lightcoral;
}
.button-pengumpulanDataAIM {
    width: 50px;
}